$colors: (
  primary: #b7f10e,
  on-primary: #141414,
  secondary: #cbe972,
  on-secondary: #141414,
  tertiary: #480ef1,
  on-tertiary: #fdfdfd,
  background: #fdfdfd,
  on-background: #141414,
  outline: #e4e4e4,
);
