@use '../abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$fredoka: 'Fredoka', sans-serif;
$pacifico: 'Pacifico', cursive;
// $quicksand: 'Quicksand', sans-serif;

html,
body {
  font-family: $fredoka;
  font-size: map-get($font-sizes, sm);
  font-style: normal;
  font-weight: 400;

  @include mq(sm) {
    font-size: map-get($font-sizes, md);
  }
}

h1 {
  font-family: $pacifico;
  font-size: map-get($font-sizes, xl);
  font-style: normal;
  font-weight: 500;

  @include mq(sm) {
    font-size: map-get($font-sizes, xxl);
  }
}

h2 {
  font-family: $pacifico;
  font-size: map-get($font-sizes, lg);
  font-style: normal;
  font-weight: 500;

  @include mq(sm) {
    font-size: map-get($font-sizes, xl);
  }
}
